body {
    font-family: Arial, sans-serif;
    background-color: #e8d4ea;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(225, 195, 195);
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: cornsilk;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ec2c2c;
}

#result {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}
